<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>url created </title>
</head>
<body>
        <h1>Url Shortener </h1>
    <% if (locals.shorturl) { %>
        
        <h5><a target="_blank" href=<%= `${locals.shorturl}` %>><%= `${locals.shorturl}` %></a></h5>
    <% } %>
</body>
</html>